html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#leftPane {
  position: absolute;
  left: 10px;
  bottom: 25px;
  height: 300px;
  width: 200px;
  background: rgba(255, 238, 0, 0.795);
  z-index: 2;
  border-radius: 10px;
}

#leftPane > h3{
  margin-top: 5%;
  text-align: center;
  font-size: 13pt;
  color: rgb(0, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}